@model IEnumerable<MessageViewModel>
@{
    ViewBag.Title = "Inbox";
}


@section scripts {

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/CustomJS.js"></script>
}



<div class="list-group col-md-4">
    <a href="#" class="list-group-item active">
        Inbox - @Model.Where(m => m.IsRead == false).Count() new messages
    </a>
    @foreach (var m in Model)
                {
                    var classname = "list-group-item";
                    if (!m.IsRead)
                    {
            classname += " list-group-item-info";
                    }
    <a href="#" id="@m.Id" onclick="showMessage(@m.Id)" class="@classname">@m.TimeSent >> From: @m.Sender - Subject: @m.Subject</a>
}
</div>
<div id="msgShower" class="col-md-8 well"><p id="viewMsg"></p></div>

